@font-face {
  font-family: "iconfont"; /* Project id 4770407 */
  src: url('iconfont.woff2?t=1733350299882') format('woff2'),
       url('iconfont.woff?t=1733350299882') format('woff'),
       url('iconfont.ttf?t=1733350299882') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duoyun:before {
  content: "\e601";
}

.icon-taiyang:before {
  content: "\e611";
}

.icon-tianqiyutiandayu:before {
  content: "\e708";
}

.icon-iconfontzhizuobiaozhun023150:before {
  content: "\e698";
}

.icon-a-ziyuan14:before {
  content: "\e600";
}

.icon-zhuangxiu:before {
  content: "\e605";
}

.icon-yun-:before {
  content: "\e686";
}

.icon-chelun:before {
  content: "\e620";
}

.icon-ziyuan:before {
  content: "\e603";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-lunbo-04:before {
  content: "\ec99";
}

